@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: hsl(0 0% 100%);
  color: hsl(222.2 84% 4.9%);
}
